@import url('https://fonts.googleapis.com/css?family=Merienda');

:root {
  --light: #eeeeff;
  --primary:  #e23c52;
  --dark: #616161;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
  color: var(--dark);
  background: var(--light);
}

#brand {
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#brand a {
  text-decoration: none;
  color: var(--white);
  font-family: 'ABeeZee', sans-serif;
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--white);
  font-size: 1.3rem;
  border-radius: 4px;
}
#nav-menu {
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
}
nav {
  width: 200px;
  height: 100%;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease; 
}
nav.open {
  transform: translate(0, 0);
}
#nav-top-nav a,
#div-top-nav a {
  display: block;
  text-decoration: none;
  background: #e23c52;
  color: var(--white);
  font-size: 1.3rem;
  padding: 0.8rem 0 0 0.8rem;
  height: 3em;
}
#div-top-nav a.active,
#user-action li a.active {
  color: var(--primary);
  background: var(--white);
}
#div-top-nav a:hover,
#user-action li a:hover {
  background: var(--light);
  color: var(--primary);
}
#div-top-nav a {
  display: none;
}
#form-container {
  width: 100%;
  margin: 10vh 0 5vh 0;
  color: var(--primary);
}
#form-container h2{
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}
#form {
  padding: 1.5em;
}
#rideCreated-error-container {
  border: 1px solid #ff0000;
  padding: 1em;
  color: #ff0000;
  text-align: center;
  width: 100%;
  display: none;
}
#rideCreated-success-container {
  border: 1px solid #008000;
  padding: 1em;
  color: #008000;
  text-align: center;
  width: 100%;
  display: none;
}
#rideCreated-success-container p,
#rideCreated-error-container p {
  font-size: 1.5em;
}
#footer {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 0.3em;
  width: 100%;
}
input{
  width: 100%;
  min-height: 2rem;
  padding: 1em;
  border: none;
  outline: none;
  margin: 0.3em 0;
  font-size: 1.4em;
  font-family: 'Merienda', cursive;
  color: var(--primary);
}
button {
  display: inline-block;
  width: 100%;
  background: var(--primary);
  color: var(--white);
  height: 2em;
  border: none;
  font-size: 1.8em;
  margin: 0.5em 0;
  font-family: 'Merienda', cursive;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  #form-container {
    width: 80%;
    margin : 10vh auto 5vh auto;
  }
}
@media screen and (min-width: 680px) { 
  #nav-menu, nav {
    display: none;
  }
  #div-top-nav a {
    display: inline-block;
    height: unset;
    margin: 0;
    padding: 1rem;
    border: none;
    font: 1em;
  }
  #brand {
    padding: 0 1em;
  }
}
@media screen and (min-width: 700px) {
  #form-container {
    width: 60%;
    margin : 10vh auto 5vh auto;
  }
}
@media screen and (min-width: 1000px) {
  #form-container {
    width: 40%;
    margin : 10vh auto 5vh auto;
  }
}