@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|ABeeZee');

:root {
  --light: #eeeeee;
  --primary:  #e23c52;
  --dark: #616161;
  --white: #ffffff;
}
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body{
  font-family: 'Roboto Condensed', cursive;
  background-color: var(--light);
  color: var(--dark);
  height: 100vh;
}
#brand {
  background: var(--primary);
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-container {
  padding: 1em 0.5em;
}
#greetings-container  {
  margin: 1em 0;
}
#brand a {
  text-decoration: none;
  color: var(--white);
  font-family: 'ABeeZee', sans-serif;
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--white);
  font-size: 1rem;
  border-radius: 4px;
}
#greetings {
  margin: 1.5em 0;
  max-width: 100%;
  text-align: center;
}
#greetings h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
#greetings h3 {
  font-size: 1.2rem;
}
#login-form-container h2, 
#login-form-container h4, #footer {
  text-align: center;
}
#footer {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  font-size: 1em;
  width: 100%;
  padding: 0.4em 0;
}
#login-error-container {
  border: 1px solid #ff0000;
  padding: 1em;
  color: #ff0000;
  text-align: center;
  width: 100%;
}
#login-success-container {
  border: 1px solid #008000;
  padding: 1em;
  color: #008000;
  text-align: center;
  width: 100%; 
}
#login-error-container p,
#login-success-container p {
  margin: 0;
  font-size: 1.4em;
}
#login-success-container,
#login-error-container {
  display: none;
}
input {
  width: 100%;
  height: 3rem;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #aeaeae;
  padding: 0.8em;
  font-family: 'Roboto Condensed', cursive;
  font-size: 1.2rem;
}
input[type='submit'] {
  background: var(--primary);
  color: var(--white);
  margin: 0.5em 0;
  font-size: 1.3em;
}
h4 a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2em;
}
@media screen and (min-width: 420px) {
  #login-form-container {
    padding: 1em;
  }
}
@media screen and (min-height: 755px) {
  #footer {
    position: fixed;
    bottom: 0;
  }
}
@media screen and (min-width: 520px) {
  #login-form-container {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 600px) {
  #login-form-container {
    width: 80%;
    margin: auto;
  }
  #greetings {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 740px) {
  #login-form-container {
    width: 60%;
    margin: auto;
  }
}