body{
  font-family: 'Arimo', sans-serif;
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
}

header, #login-form-container h2, h4{
  text-align: center;
  font-family: 'Arimo', sans-serif;
}


#main-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main{
  width: 50%;
}

nav{
  background-color: #8a2be2;
  color: #ffffff;
  width: 100%;
  height: 60px;
} 

#login-form-container{
  border-radius: 14px;
  padding: 20px;
  width: 70%;
  margin: auto;
}

input{
  text-decoration: none;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: 30px;
  width: 100%;
  padding: 3px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #000;
}

input[type="submit"]{
  cursor: pointer;
  text-align: center;
  background-color: #8a2be2;
  width: 100%;
  color: #fff;
  display: block;
  height: 40px;
}

input[type="checkbox"]{
  display: inline-block;
  appearance: none;
  height: 1em;
  width: 1em; 
} 

#checkbox-container {
  padding: 0;
}

a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
