@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|ABeeZee');

:root {
  --light: #eeeeee;
  --primary: #C2185B;
  --dark: #616161;
  --white: #ffffff;
}

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body{
  font-family: 'Roboto Condensed', cursive;
  background-color: var(--light);
  color: var(--dark);
}
#brand {
  background: var(--primary);
  width: 100%;
}
#brand a {
  text-decoration: none;
  color: var(--white);
  font-family: 'ABeeZee', sans-serif;
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--white);
  font-size: 1rem;
  border-radius: 4px;
}
#greetings {
  margin: 1.5em 0;
  max-width: 100%;
  text-align: center;
}
#greetings h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
#greetings h3 {
  font-size: 1.2rem;
}
#signup-form-container h2, 
#signup-form-container h4, #footer {
  text-align: center;
}
#footer {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  font-size: 1.3em;
  padding: 0.3em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
input {
  width: 100%;
  height: 3rem;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #aeaeae;
  padding: 0.8em;
  font-family: 'Roboto Condensed', cursive;
  font-size: 1.2rem;
}
input[type='submit'] {
  background: var(--primary);
  color: var(--white);
  margin: 0.5em 0;
  font-size: 1.3em;
}
h4 a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.2em;
}

@media screen and (min-width: 500px) {
  main {
    max-width: 80%;
    margin: auto;
  }
  #brand a {
    margin-left: 10%;
  }
}

@media screen and (min-width: 700px) {
  input,
  input[type='submit'] {
    display: block;
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  #signup-form-container {
    margin-top: 4em;
  }
  input,
  input[type='submit'] {
    display: block;
    width: 50%;
    margin: auto;
  }
}